<div class="pw-container ">
    <div class="columns">
        <div class="column is-half">
            <h1 style="font-size: 2.2rem;">Welcome Nishad!</h1>
        </div>
        <div class="column  add-profile-btn-outline">
            <a class="" [routerLink]="['/profiles/create']"  ><span style="left: -95px;" class='icon'>
             <img src="/assets/Dashboard - Central/Add Plant Profile add.png" alt="">
            </span><span class="description">Add Profile</span></a>
          </div>
          
          <div class="column add-profile-btn-outline">
            <a class="" [routerLink]="['/notifications']"  ><span style="left: -70px;" class='icon'>
                <img src="/assets/Dashboard - Central/Noti center bell.png" alt="">
            </span><span class="description">Notification Center</span></a>
          </div>
    </div>
    
    <div class="columns">
        <div class="column is-2">
            <h3>Overview</h3>
        </div>
    </div>
    
    <div id="app-summary" class="columns">
        <div class="column">
            <div class='card'>
                <div class='card-image'>
                  <!-- is-4by3 -->
                        <img src="/assets/Dashboard - Central/people.png" alt="">
                </div>
                <div class='card-content'>
                  <div class='content'>
                      <h2>21</h2>
                    <span >Active Users</span>
                  </div>
                </div>
              </div>
            
        </div>
        <div class="column">
            <div class='card'>
                <div class='card-image'>
                  <!-- is-4by3 -->
                        <img src="/assets/Dashboard - Central/wifi.png" alt="">
                </div>
                <div class='card-content'>
                  <div class='content'>
                      <h2>13</h2>
                    <span >Active Devices</span>
                  </div>
                </div>
              </div>
            
        </div>
        <div class="column">
            <div class='card'>
                <div class='card-image'>
                  <!-- is-4by3 -->
                        <img src="/assets/Dashboard - Central/assignment_turned_in.png" alt="">
                </div>
                <div class='card-content'>
                  <div class='content'>
                      <h2>13</h2>
                    <span >Plant Profiles</span>
                  </div>
                </div>
              </div>
            
        </div>
        <div class="column">
            <div class='card'>
                <div class='card-image'>
                  <!-- is-4by3 -->
                        <img src="/assets/Dashboard - Central/book-open.png" alt="">
                </div>
                <div class='card-content'>
                  <div class='content'>
                      <h2>13</h2>
                    <span >Knowledgebase Visits</span>
                  </div>
                </div>
              </div>
             
        </div>
        <div class="column">
            <div class='card'>
                <div class='card-image'>
                  <!-- is-4by3 -->
                        <img src="/assets/Dashboard - Central/camera.png" alt="">
                </div>
                <div class='card-content'>
                  <div class='content'>
                      <h2>13</h2>
                    <span >Disease Requests</span>
                  </div>
                </div>
              </div>
            
        </div>
    </div>
    
    <div class="columns">
        <div class="column">
            <img src="/assets/deals_graphic.png" alt="">

        </div>
        <div style="background: #212936; margin-top: 30px; height: 350px;box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
        border-radius: 4px;" class="column">
            Campaigns
            <img src="/assets/range.png" alt="">
        </div>
    </div>
</div>

