<div class="pw-container ">
    <div class="columns">
        <div class="column">
            <h1>Welcome Nishad!</h1>
        </div>
        <div class="column">
            <a>Add Plant Profile</a>
        </div>
        <div class="column">
            <a >Notification Center</a>
        </div>
    </div>
    
    <div class="columns">
        <div class="column is-2">
            <h3>Overview</h3>
        </div>
    </div>
    
    <div class="columns">
        <div class="column">
            Active Users
        </div>
        <div class="column">
            Active Devices
        </div>
        <div class="column">
            Plant Profiles
        </div>
        <div class="column">
             Knowledgebase Visits
        </div>
        <div class="column">
            Disease Requests
        </div>
    </div>
    
    <div class="columns">
        <div class="column">
            Notification Activity
        </div>
        <div class="column">
            Campaigns
        </div>
    </div>
</div>

