<div class='columns'>
  <div class='container profile'>
    
    <div class='box' style='border-radius: 0px;'>
      <!-- Main container -->
      <div class='columns'>
        <div class='column is-2-tablet user-property-count has-text-centered'>
          <p class='subtitle is-5'>
            <strong></strong>
            5
            <br>
            Profiles
          </p>
        </div>
        <div class='column is-8'>
          <p class='control has-addons'>
            <input class='input' placeholder='Search Profiles' style='width: 80% !important' type='text'>
            <button class='button'>
              Search
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class='columns is-mobile'>
      <div class='column is-3-tablet is-6-mobile'>
        <div class='card'>
          <div class='card-image'>
            <figure class='image is-4by3'>
              <img alt='' src='https://www.almanac.com/sites/default/files/image_nodes/tomatoes_helios4eos_gettyimages-edit.jpeg'>
            </figure>
          </div>
          <div class='card-content'>
            <div class='content'>
              <span class='tag is-info is-medium'>Tomato</span>
            </div>
          </div>
          <footer class='card-footer'>
            <a [routerLink]="['/profile']"  [queryParams]="{profileId: '5'}" class='card-footer-item'>Edit</a>
            <a (click)="confirmDeleteProfile($event)" class='card-footer-item'>Delete</a>
          </footer>
        </div>
        <br>
      </div>
      
      <div *ngFor="let profile of profiles" class='column is-3-tablet is-6-mobile'>
        <div class='card'>
          <div class='card-image'>
            <figure class='image is-4by3'>
              <img alt='' src='{{profile.ImageUrl}}'>
            </figure>
          </div>
          <div class='card-content'>
            <div class='content'>
              <span class='tag is-info is-medium'>{{profile.Name}}</span>
            </div>
          </div>
          <footer class='card-footer'>
            <a [routerLink]="['/profile']"  [queryParams]="{profileId: '{{ profile.Id }}'}" class='card-footer-item'>Edit</a>
            <a (click)="confirmDeleteProfile($event)" class='card-footer-item'>Delete</a>
          </footer>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
