<div class='modal' id='delete-profile-modal' *ngIf="profileToDelete != null" [ngClass]="{'is-active': profileToDelete != null}">
  <div class='modal-background'></div>
  <div class='modal-card'>
      <header class='modal-card-head' style="background: #2B3648;">
          <p class='modal-card-title' style="color: #F1F1F1;">Delete Profile ({{ profileToDelete.Name }})?</p>
          <button class='delete' (click)="setProfileToDelete(null)"></button>
      </header>
  <footer class='modal-card-foot' style="background: #2B3648;">
      <a class='button is-primary modal-save' (click)="confirmDeleteProfile()">Yes</a>
      <a class='button modal-cancel' (click)="setProfileToDelete(null)">Cancel</a>
  </footer>
</div>
</div>

<div class='columns'>
  <div class='container profile'>
    
    <div class="search-block" >
      <!-- Main container -->
      <div class='columns'>
        <div class='column'>
          <p class='control has-addons'>
            <span class='icon'>
              <i class='fa fa-search'></i>
            </span>
            <input class='input' (keyup)="updateSearch($event)" placeholder='Search Profiles' type='text'>
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-four-fifths"></div>
      <div class="column ">
        <a class="" [routerLink]="['/profiles/create']"  >
          <span style="width: 20rem;top: 18px;position: relative;left: -32px;"  class='icon'>
           <img (mouseover)="addplantimage='/assets/Group 192.png'" (mouseout)="addplantimage='/assets/Dashboard - Central/Add Plant Profile.png'" [src]="addplantimage" alt="">
          </span>
        </a>
      </div>
    </div>
    <div class='profileContainer'>
      <div class='profileContainerItem' >
        <div class='card pw-prof-card' style="height: 224px;">
          <div class='card-image'>
            <!-- is-4by3 -->
            <a [routerLink]="['/profiles/create']"  id="add-profile-btn">
              <figure class='image is-128x128'>
                <img src="/assets/Dashboard - Plant Center Overview/Add .png" alt="">
              </figure>
              </a>
          </div>
          <div class='card-content'>
            <div class='content'>
              <span >Add Profile</span>
            </div>
          </div>
        </div>
      </div>
      
      <div *ngFor="let profile of profiles" class='profileContainerItem'>
        <div class='card pw-prof-card'>
          <div class='card-image'>
            <!-- is-4by3 -->
            <figure class='image is-128x128'>
              <img alt='' src={{profile.ImageUrl}}>
            </figure>
          </div>
          <div class='card-content'>
            <div class='content'>
              <span >{{profile.Name}}</span>
            </div>
            <div class="profileActions">
              <a  [routerLink]="['/knowledge']"   [queryParams]="{profileId: profile.Id }" ><span class='icon'>
                <img [src]="profile.editImgSrc"  (mouseover)="profile.editImgSrc = '/assets/Dashboard - Plant Center Overview/edit active.png'"
                (mouseout)="profile.editImgSrc = '/assets/Dashboard - Plant Center Overview/edit.png'"  alt="">
              </span></a>
              <a (click)="setProfileToDelete(profile)"><span class='icon'>
                <img [src]="profile.deleteImgSrc"  (mouseover)="profile.deleteImgSrc = '/assets/Dashboard - Plant Center Overview/delete active.png'"
                (mouseout)="profile.deleteImgSrc = '/assets/Dashboard - Plant Center Overview/delete.png'" alt="">
              </span></a>
              <a [routerLink]="['/profile']"  [queryParams]="{profileId: profile.Id }" ><span class='icon'>
                <img [src]="profile.viewImgSrc"  (mouseover)="profile.viewImgSrc = '/assets/Dashboard - Plant Center Overview/view active.png'"
                (mouseout)="profile.viewImgSrc = '/assets/Dashboard - Plant Center Overview/view.png'" alt="">
              </span></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
