<div class="selectg">
    <select (change)='selectParamType($event)' class="select" name="Type" id="parameter-type">
      <option value="light">Light</option>
      <option value="temperature">Temperature</option>
      <option value="moisture">Moisture</option>
      <option value="fertilizer">Fertilizer</option>
      <option value="humidity">Humidity</option>
    </select>
</div>
<button (click)="addParameter()" class="button is-primary">Add Parameter</button>

<div *ngFor="let param of parameters" class="notification">
    <button class="delete"></button>
    <div class="field is-grouped">
        <p class="control">
          <input type="text" value="param.Name" name="type" placeholder="Type" value="Light" disabled class="input"/>
        </p>
            <div class="control field has-addons">
                <p class="control">
                    <input type="text" placeholder="Lower Value"  class="input"/>
                </p>
                <p class="control">
                  <a class="button is-static">
                    &gt;
                  </a>
                </p>
              </div>
        <p class="control">
            <input type="text" placeholder="Upper Value"  class="input"/>
        </p>
        <p class="control">
            <input type="text" placeholder="Message"  class="input"/>
        </p>
        <p class="control">
            <input type="text" placeholder="Action"  class="input"/>
        </p>
      </div>
  </div>

  <button (click)="save()" class="button is-primary">Save</button>

<!--   <div class="notification">
    <button class="delete"></button>
    <div class="field is-grouped">
        <p class="control">
          <input type="text" name="type" placeholder="Type" value="Temperature" disabled class="input"/>
        </p>
            <div class="control field has-addons">
                <p class="control">
                    <input type="text" placeholder="Lower Value"  class="input"/>
                </p>
                <p class="control">
                  <a class="button is-static">
                    &gt;
                  </a>
                </p>
              </div>
        <p class="control">
            <input type="text" placeholder="Upper Value"  class="input"/>
        </p>
        <p class="control">
            <input type="text" placeholder="Message"  class="input"/>
        </p>
        <p class="control">
            <input type="text" placeholder="Action"  class="input"/>
        </p>
      </div>
  </div> -->