
<button class="button is-primary">Add Parameter</button>

<div class="notification">
    <button class="delete"></button>
    <div class="field is-grouped">
        <p class="control">
          <input type="text" name="type" placeholder="Type" value="Light" disabled class="input"/>
        </p>
            <div class="control field has-addons">
                <p class="control">
                    <input type="text" placeholder="Lower Value"  class="input"/>
                </p>
                <p class="control">
                  <a class="button is-static">
                    &gt;
                  </a>
                </p>
              </div>
        <p class="control">
            <input type="text" placeholder="Upper Value"  class="input"/>
        </p>
        <p class="control">
            <input type="text" placeholder="Message"  class="input"/>
        </p>
        <p class="control">
            <input type="text" placeholder="Action"  class="input"/>
        </p>
      </div>
  </div>

  <div class="notification">
    <button class="delete"></button>
    <div class="field is-grouped">
        <p class="control">
          <input type="text" name="type" placeholder="Type" value="Temperature" disabled class="input"/>
        </p>
            <div class="control field has-addons">
                <p class="control">
                    <input type="text" placeholder="Lower Value"  class="input"/>
                </p>
                <p class="control">
                  <a class="button is-static">
                    &gt;
                  </a>
                </p>
              </div>
        <p class="control">
            <input type="text" placeholder="Upper Value"  class="input"/>
        </p>
        <p class="control">
            <input type="text" placeholder="Message"  class="input"/>
        </p>
        <p class="control">
            <input type="text" placeholder="Action"  class="input"/>
        </p>
      </div>
  </div>