<div class="select">
    <select (change)='selectParamType($event)' class="select" name="Type" id="parameter-type">
      <option value="light">Light</option>
      <option value="temperature">Temperature</option>
      <option value="moisture">Moisture</option>
      <option value="fertilizer">Fertilizer</option>
      <option value="humidity">Humidity</option>
    </select>
</div>
<button (click)="addParameter()" class="button is-primary">Add Parameter</button>

<div *ngFor="let param of parameters" class="notification">
    <button (click)="removeParameter(param.Name)" class="delete"></button>
    <div class="field is-grouped">
        <p class="control">
          <input type="text" [value]="param.Name" name="type" placeholder="Type" disabled class="input"/>
        </p>
        <div class="control field has-addons">
            <p class="control">
                <input type="number" (keyup)="updateField(param.Name,'LowerLimit', $event)" [value]="param.LowerLimit"  placeholder="Lower Value"  class="input"/>
            </p>
            <p class="control">
              <a class="button is-static">
                -
              </a>
            </p>
        </div>
        <p class="control">
            <input type="number" (keyup)="updateField(param.Name,'UpperLimit', $event)" [value]="param.UpperLimit" placeholder="Upper Value"  class="input"/>
        </p>
        <p class="control">
            <input type="text" (keyup)="updateField(param.Name,'Message', $event)" [value]="param.Message"  placeholder="Lower Message"  class="input"/>
        </p>
        <p class="control">
            <input type="text" (keyup)="updateField(param.Name,'Action', $event)" [value]="param.Action"  placeholder="Upper Message"  class="input"/>
        </p>
      </div>
  </div>

  <button (click)="save()" class="button is-primary">Save</button>
  <a [routerLink]="['/profile']"  [queryParams]="{profileId: profileId }" class='button'>Cancel</a>
<!--   <div class="notification">
    <button class="delete"></button>
    <div class="field is-grouped">
        <p class="control">
          <input type="text" name="type" placeholder="Type" value="Temperature" disabled class="input"/>
        </p>
            <div class="control field has-addons">
                <p class="control">
                    <input type="text" placeholder="Lower Value"  class="input"/>
                </p>

                <p class="control">
                  <a class="button is-static">
                    &gt;
                  </a>
                </p>
              </div>
        <p class="control">
            <input type="text" placeholder="Upper Value"  class="input"/>
        </p>
        <p class="control">
            <input type="text" placeholder="Message"  class="input"/>
        </p>
        <p class="control">
            <input type="text" placeholder="Action"  class="input"/>
        </p>
      </div>
  </div> -->