.notification{
    margin: 30px 0;
    background: #2B3648;
/* Card hover */

box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
}

.notification > button{
    background: #2B3648;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #16C7BD;
    border: none;
    border-radius: 0%;
}

.notification .control{
    margin: 10px;
    width: 50%;
}

#select-parameter{
    background: #2B3648;
/* Card hover */

box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
}

#select-parameter > div{
    margin: auto;
    display: block;
    padding: 30px 0;
    width: 30%;
}

.select{
    color: #F1F1F1;
    border-radius: 10px;
    background: #16C7BD;
}


.pw-button{
	background: #16C7BD;
	}

    


   label{
    color: #16C7BD;
    font-weight: 300;

  }

   input{
    background: #2B3648;
    border:none;
    color: #F1F1F1;
    font-weight: 300;
    border-bottom: 1px solid #16C7BD;
  }

   textarea{
    background: #2B3648;
    border:none;
    color: #F1F1F1;
    font-weight: 300;
    border-bottom: 1px solid #16C7BD;
  }

  .label-input-empty{
    position: absolute;
    left: 40%;
    z-index: 2;
  }

  .label-input-filled{
    font-size: 0.8rem;
  }

.control.param-name{
    position: absolute;
    top: 3rem;
    left: 3rem;
}


.step-active{
  background: #16C7BD !important;
}

.steps{
  display: flex;
}

.steps div{
  width: 40px;
  background: #212936;
  height: 20px;
  margin: 5px;
}


#progress-summary{
  width: 15%;
  margin: auto;
}