    
<!-- <nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        Plant Watch
      </a>
    </div>
    <label for="menu-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <input type="checkbox" id="menu-toggle" class="is-hidden"/>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet">
        <span class="icon"><i class="fa fa-home"></i></span> Home
      </a>
      <a class="nav-item is-tab is-hidden-tablet">
        <span class="icon"><i class="fa fa-table"></i></span> Links
      </a>
      <a class="nav-item is-tab is-hidden-tablet">
        <span class="icon"><i class="fa fa-info"></i></span> About
      </a>
      
      <a class="nav-item is-tab is-active">
        <span class="icon"><i class="fa fa-user"></i></span>
      </a>
      <a class="nav-item is-tab">
        <span class="icon"><i class="fa fa-sign-out-alt"></i></span>
      </a>
    </div>
  </div>
</nav> -->
<block-ui>
<section *ngIf="signedIn; else elseBlock" class="main-content columns is-fullheight">
  <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
    <p class="menu-label is-hidden-touch">{{ user }}</p>
    <ul class="menu-list">
      <li>
        <a [routerLink]="['/dashboard']" class=""  [ngClass]="{'is-active': route == '/dashboard'}">
          <span class="icon"><i class="fa fa-home"></i></span> Dashboard
        </a>
      </li>
      <li>
        <a [routerLink]="['/profiles']" href="#" [ngClass]="{'is-active': route == '/profiles'}" >
          <span class="icon"><i class="fa fa-table"></i></span> Plants
        </a>

        <ul>
          <li>
            <a [routerLink]="['/profiles/create']" [ngClass]="{'is-active': route == '/profiles/create'}" >
              <span class="icon is-small"><i class="fa fa-link"></i></span> Create
            </a>
          </li>
          <li>
            <a [routerLink]="['/profiles']" [ngClass]="{'is-active': route == '/profiles'}" >
              <span class="icon is-small"><i class="fa fa-link"></i></span> List
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/notifications']" class="">
          <span class="icon"><i class="fa fa-info"></i></span> Notifications
        </a>
      </li>
      <li>
        <a (click)="logout()" class="">
          <span class="icon"><i class="fa fa-sign-out-alt"></i></span> Logout
        </a>
      </li>
    </ul>
  </aside>

  <div class="container column is-10">
    <div class="section">
      <router-outlet></router-outlet>
    </div>
  </div>

  
</section>

<footer class="footer is-hidden">
  <div class="container">
    <div class="content has-text-centered">
      <p>Og 2020</p>
    </div>
  </div>
</footer>

<ng-template #elseBlock><router-outlet></router-outlet></ng-template>
</block-ui>
