<div style="width: 80%; margin: auto;" class="columns">
    <div class="column is-three-quarters">
        <h2 style="font-size: 1.3rem;">User - Role Management</h2>
    </div>
    <div class="column  add-profile-btn-outline">
        <a class="" [routerLink]="['/profiles/create']"  ><span style="top: -3px;left: -59px;" class='icon'>
         <img src="/assets/Dashboard - Central/Add Plant Profile add.png" alt="">
        </span><span class="description">Add Team</span></a>
      </div>
</div>


<div class="notification-item">
    <div class="columns">
        <div class="column">
            <span class="tag is-primary is-rounded is-medium">
               Nishad
              </span>
        </div>
        <div class="column" >
            <span class="tag is-primary is-rounded is-medium">
                nishad@plantwatch.com
               </span>
        </div>
        <div class="column" >
            <span class="tag is-primary is-rounded is-medium">
                Administrator
               </span>
        </div>
        <div class="column">
           <!--  <figure class="image is-24x24">
                <img src="/assets/User Roles and Permissions/edit.png" alt="">
            </figure>
            <figure class="image is-24x24">
                <img src="/assets/User Roles and Permissions/edit.png" alt="">
            </figure> -->
            <span class="icon edit-btn">
                <!-- <img src="/assets/User Roles and Permissions/edit.png" alt=""> -->
            </span>
            <span class="icon delete-btn">
              <!--   <img src="/assets/User Roles and Permissions/delete.png" alt=""> -->
            </span>
        </div>
    </div>
</div>